.kaamsewa {
  margin: 0;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  font-weight: 700;
  color: var(--color-black);
  align-self: flex-start;
}
.fullName,
.kaamsewa,
.personalInformation {
  position: relative;
  letter-spacing: 0.03em;
  font-family: var(--font-roboto);
  text-align: left;
}
.personalInformation {
  margin: 0;
  font-size: var(--font-size-mid);
  font-weight: 800;
  color: var(--color-royalblue);
}
.fullName {
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--color-black);
}
.emailAddress,
.emailAddressFrame {
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.emailAddressFrame {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
}
.emailAddress {
  position: relative;
  letter-spacing: 0.03em;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.emailAddressFrame1 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  /* height: 30px; */
  font-family: var(--font-inter);
  color: var(--color-darkgray);
}
.emailAddressFrame1,
.emailAddressFrame2,
.password {
  font-weight: 500;
  font-size: var(--font-size-xs);
}
.password {
  position: relative;
  letter-spacing: 0.03em;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.emailAddressFrame2 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  /* height: 30px; */
  font-family: var(--font-inter);
  color: var(--color-darkgray);
}
.nextButton {
  width: 99px;
  height: 25px;
  font: var(--font-size-5xl);
}
.signUp {
  color: var(--color-royalblue);
}
.ifYouDoContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.03em;
  font-family: var(--font-roboto);
  text-align: center;
}
.fullNameFrame {
  margin: 80px 0 100px 0;
  width: 100%;
  max-width: 1000px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-57xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
}
@media screen and (max-width: 750px) {
  .kaamsewa {
    font-size: var(--font-size-13xl);
  }
  .fullNameFrame {
    padding-top: var(--padding-71xl);
    padding-bottom: var(--padding-71xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .fullNameFrame {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .kaamsewa {
    font-size: var(--font-size-5xl);
  }
  .signUpLink {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
