.contactUsIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.serviceCategories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.serviceCategories {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xl) 0 var(--padding-17xl);
}
.categoryItem {
  width: 1444px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-110xl);
  min-height: 579px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--text2);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .categoryItem {
    gap: var(--gap-110xl);
  }
}
@media screen and (max-width: 750px) {
  .categoryItem {
    gap: var(--gap-110xl);
  }
}
@media screen and (max-width: 450px) {
  .categoryItem {
    gap: var(--gap-110xl);
  }
}
