.contactUsIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.electrician1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-weight: 600;
}
.electrician,
.serviceCategories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.serviceCategories {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xl) 0 var(--padding-17xl);
}
.electrician {
  height: 225px;
  width: 240px;
  border-radius: var(--br-3xs);
  background-color: var(--primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.categoryItem {
  width: 1444px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-110xl);
  min-height: 579px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--text2);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .categoryItem {
    gap: var(--gap-110xl);
  }
}
@media screen and (max-width: 750px) {
  .categoryItem {
    gap: var(--gap-110xl);
  }
}
@media screen and (max-width: 450px) {
  .categoryItem {
    gap: var(--gap-110xl);
  }
}
