.kaamsewa {
  margin: 0;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.companyName,
.kaamsewa,
.workHistory {
  position: relative;
  letter-spacing: 0.03em;
}
.workHistory {
  margin: 0;
  font-size: var(--font-size-mid);
  font-weight: 800;
  font-family: inherit;
  color: var(--color-royalblue);
}
.companyName {
  font-weight: 600;
}
.positionFrame {
  width: 309px;
  height: 29px;
}
.position {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.positionFrame1 {
  width: 309px;
  height: 29px;
}
.timeOfWork {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.positionFrame2 {
  width: 309px;
  height: 29px;
}
.positionFrame3 {
  width: 129px;
  height: 25px;
}
.references {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.positionFrame4 {
  width: 309px;
  height: 29px;
}
.positionFrame5 {
  width: 129px;
  height: 25px;
}
.positionFrame6 {
  width: 126px;
  height: 25px;
}
.companyFrame {
  width: 479px;
  height: 559px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-37xl) var(--padding-57xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 750px) {
  .kaamsewa {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 675px) {
  .companyFrame {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 450px) {
  .kaamsewa {
    font-size: var(--font-size-5xl);
  }
  .companyFrame {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
}
