.howItWorks1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: inherit;
}
.howItWorks {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-mid);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--primary);
  font-family: var(--font-georgia);
}
@media screen and (max-width: 450px) {
  .howItWorks1 {
    font-size: var(--font-size-xl);
  }
  .howItWorks {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
