.plumberChild,
.whatClientSayAboutHim {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.plumberChild {
  height: 153px;
  flex-shrink: 0;
  display: none;
}
.whatClientSayAboutHim {
  flex: 1;
  max-height: 100%;
}
.plumber1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-weight: 600;
}
.ellipse,
.category-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xl) 0 var(--padding-17xl);
}
.category-item {
  height: 225px;
  width: 240px;
  border-radius: var(--br-3xs);
  background-color: var(--primary);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--text2);
  font-family: var(--font-roboto);
}
.category-item:hover{
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
